/* combined-styles.css */

/* Customizing the navigation bar */
.custom-nav {
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}


.navbar-toggler-icon {
    background-image: url('images/menu-icon.png');
}

/* Styling the main section */
.container {
    max-width: 800px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 4px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.order-form {
    text-align: center;
    align-items: center;
}

.custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
    margin: 0 auto; /* Add this line to center the element horizontally */
  }
  


.custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
    display: none;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling the footer */
.page-footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    color: #333;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}   

.page-footer p {
    font-size: 14px;
    margin-bottom: 0;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    background-image: url('images/road_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center; /* Add this line to center the background image */
}

